/* general */

:root {
    --bg-blue: #255EE9;
    --bg-grey: #e5e3e3;
    --bg-dark: #23272A;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney' , 'Helvetica Neue' , 'Helvetica' , 'Arial' , sans-serif;
}

.debug {
    border: 1px solid #4fef8c;
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-grey {
    background-color: var(--bg-grey);
}

.container {
    max-width: 1200px;
    margin: o auto;
}

.container-s {
    max-width: 800px;
    margin: 0 auto;
}
/*header*/

header {
    background-color: var(--bg-blue);
}

/* footer */

footer {
    background-color: var(--bg-dark);
    color: white;
}